@font-face {
    font-family: 'Gotham Book'; 
    src: url('../fonts/GothamBook/GothamBook.eot') format('eot'), 
    url('../fonts/GothamBook/GothamBook.ttf') format('ttf'), 
    url('../fonts/GothamBook/GothamBook.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Bold'; 
    src: url('../fonts/GothamBold/gothambold1.eot') format('eot'), 
    url('../fonts/GothamBold/gothambold1.ttf') format('ttf'), 
    url('../fonts/GothamBold/gothambold1.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans'; 
    src: url('../fonts/Opensans/opensans.ttf') format('ttf'), 
    url('../fonts/Opensans/opensans.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans_Italick'; 
    src: url('../fonts/OpensansItalik/opensansitalic.ttf') format('ttf'), 
    url('../fonts/Opensans/opensans.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal;
}